<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC   
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
          
 <hibernate-configuration>
 	<session-factory>
 		<property name="hibernate.show_sql">true</property>
 		<property name="hibernate.format_sql">true</property>
 		<!-- 方言 -->
 		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
 		<!-- 生成表的策略 -->
 		<property name="hibernate.hbm2ddl.auto">update</property>
 	
 		<mapping class="com.cengze.entity.Manager" />
 		<mapping class="com.cengze.entity.Department" />
 		<mapping class="com.cengze.entity.News" />
 		<mapping class="com.cengze.entity.NewsKind" />
 		<mapping class="com.cengze.entity.ProductKind" />
 		<mapping class="com.cengze.entity.Product" />
 		<mapping class="com.cengze.entity.User" />
 		<mapping class="com.cengze.entity.LeaveWords" />
 		<mapping class="com.cengze.entity.Reply" />
 		
 	</session-factory>
 </hibernate-configuration>